<div class="pages-layout-container">
  <div class="page-layout-row">
    <div class="page-layout-colA">
      <p>
        Aplicatia <b>Catalog Scolar</b> este ușor de folosit, are interfață
        intuitivă și spațiu de stocare nelimitat şi îţi permite să creezi rapid
        grupuri şi clase, să aloci și să corectezi teme, să programezi lucrări
        de control şi teze, să urmăreşti progresul elevilor şi nu doar atât.
        Centralizând totul pe o singură platformă, eliminăm birocraţia şi te
        ajutăm să câştigi timp pentru activitatea didactică.
      </p>
      <p>
        Ca platformă de management educaţional, te ajută să îţi organizezi fără
        efort toate activităţile şi să obţii rezultatele pe care ţi le doreşti.
        Adservio este mai mult decât un catalog digital. Îţi oferim accesul la
        informaţii şcolare complexe, chiar dacă eşti în România sau în
        străinătate, indiferent dacă foloseşti un desktop, un laptop, o tabletă
        sau un telefon mobil.
      </p>
    </div>
  </div>
  <div class="page-layout-row">
    <div class="page-layout-colA marg bord">
      <p class="icoBg">
        <mat-icon class="icon">share</mat-icon>
      </p>
      <p>
        Ca profesor, eşti în permanență în contact cu elevii, părinții și
        colegii. Şi ştim cu toţii că o comunicare eficientă este răspunsul
        tuturor problemelor ce pot apărea în traseul educațional.
      </p>
    </div>
    <div class="page-layout-colA marg bord">
      <p class="icoBg">
        <mat-icon class="icon">laptop</mat-icon>
      </p>
      <p>
        Cu aplicatia <b>Catalog Scolar</b>, elevii se implică mai mult şi
        comunică mai uşor. Ca profesor, poţi posta subiecte de discuție,
        primeşti temele elevilor direct in cont și le poţi oferi feedback. Iar
        toate acestea încurajează comunicarea și interactivitatea în procesul
        educaţional.
      </p>
    </div>
    <div class="page-layout-colA marg bord">
      <p class="icoBg">
        <mat-icon class="icon">groups</mat-icon>
      </p>
      <p>
        Am construit aceasta împreună cu peste 100 000 de profesori, elevi și
        părinți. Feedback-ul primit de la utilizatorii noştri definește fiecare
        modul dezvoltat.
      </p>
    </div>
    <div class="page-layout-colA marg">
      <p class="icoBg">
        <mat-icon class="icon">3d_rotation</mat-icon>
      </p>
      <p>
        Îţi oferim posibilitatea de a-ţi personaliza modul în care foloseşti
        platforma <b>Catalog Scolar</b>: pui note şi absenţe, comunici cu
        părinţii, elevii şi cu ceilalţi profesori, sau urmăreşti evoluţia
        elevilor din toate clasele.
      </p>
    </div>
  </div>
  <div class="ads_beneficii_elevi">
    <div class="maxwrapp clearfix">
      <div class="context">
        <h3>Beneficii</h3>
        <div class="content">
          <p>
            Ca elev, ai o mulțime de instrumente toate la un click distanță.
            Ţine legătura cu prietenii de la şcoală şi crează grupul vostru de
            discuţii, lucraţi împreună la teme şi proiecte, încarcă pozele tale
            favorite şi arată-le prietenilor. Cu Adservio poți oricând să îți
            verifici situația școlară, de la plusuri și minusuri primite pentru
            activitatea la ore, până la note, absențe și chiar probabilitatea de
            ascultare la o anumită materie.
          </p>
          <ul class="mb10 list_style">
            <li>
              Descoperi mai multe despre personalitatea ta, despre facultatea şi
              chiar despre cariera care ţi se potriveşte cel mai bine.
            </li>
            <li>
              Poţi trimite profesorilor temele şi proiectele direct, fără să mai
              ai nevoie de cd-uri, memory stick-uri sau alte medii de stocare.
            </li>
            <li>
              Afli notele primite de la profesori chiar şi când notarea se
              realizează seara de acasă și nu trebuie să mai aştepti până la ora
              următoare.
            </li>
            <li>
              Ai acces la o bibliotecă cu cărți gratuite în format electronic.
            </li>
            <li>
              Creează-ți grupuri de lucru și ține evidența activităților
              extrașcolare.
            </li>
          </ul>
        </div>
      </div>
      <div class="elev-img"></div>
    </div>
  </div>
  <div class="ads_beneficii_cadre">
    <div class="maxwrapp clearfix">
      <div class="context">
        <h3>Învăţători, profesori şi diriginţi</h3>
        <div class="content">
          <p>
            Adservio nu-ţi poate creşte salariul, dar îţi promite că munca ta va
            deveni mai simplă.
          </p>
          <p>
            Adservio preia o parte din munca învăţătorilor, profesorilor şi
            diriginţilor şi generează cu un singur click rapoartele către
            conducerea unității.
          </p>

          <p class="mt20">
            <b
              >Cu Adservio introduci rapid note şi absenţe, ai acces oricând şi
              oriunde la orarul personal şi nu numai:</b
            >
          </p>
          <ul class="mb10 list_style">
            <li>
              Pentru că nu am cunoscut niciun cadru didactic căruia să-i placă
              birocraţia, Adservio generează statistici legate de performanţa
              clasei şi elimină timpii acordaţi raportărilor semestriale şi
              anuale. Poţi astfel să te concentrezi pe educaţia reală a
              copiilor.
            </li>
            <li>
              Cu ajutorul Adservio nu mai trebuie să calculezi medii şi să
              numeri note sau absenţe.
            </li>
            <li>
              Ai oricând posibilitatea să comunici cu părinţii şi elevii şi să
              le transmiţi materiale şi informaţii educative utile.
            </li>
          </ul>
        </div>
      </div>

      <div class="cadru-img"></div>
    </div>
  </div>
</div>
