<form>
  <div class="row">
    <div class="col-10">
      <mat-form-field appearance="legacy">
        <mat-label>Nume Prenume</mat-label>
        <input
          [(ngModel)]="student.nume"
          name="name"
          matInput
          placeholder="Ex. Grigore Ureche"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-10">
        <mat-form-field appearance="legacy">
          <mat-label>E-mail</mat-label>
          <input
            [(ngModel)]="student.email"
            name="email"
            matInput
            placeholder="Ex. grigoreureche@email.com"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <mat-form-field appearance="legacy">
          <mat-label>Parola</mat-label>
          <input
            [(ngModel)]="student.password"
            name="password"
            matInput
            placeholder="Ex. parolamea123"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="success" (click)="update()">
    Update student {{student.id}} !
  </button>
</form>
