<form class="studentAdd">
  <div class="row">
    <div class="col-10">
      <mat-form-field appearance="legacy">
        <mat-label>Nume Prenume</mat-label>
        <input
          [(ngModel)]="studentDetails.nume"
          name="nume"
          matInput
          placeholder="Ex. Grigore Alexandru"
        />
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-10">
        <mat-form-field appearance="legacy">
          <mat-label>E-mail</mat-label>
          <input
            [(ngModel)]="studentDetails.email"
            name="email"
            matInput
            placeholder="Ex. grigorealexandru@email.com"
          />
          <mat-hint>This field is required!</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="col-10">
      <div class="row"></div>
      <mat-form-field appearance="legacy">
        <mat-label>Parola</mat-label>
        <input
          [(ngModel)]="studentDetails.password"
          name="password"
          matInput
          placeholder="Ex. parolamea123"
        />
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <button mat-stroked-button color="success" (click)="addStd()">
    Add new student
  </button>
</form>
