<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12">
      <div class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never">
          <input
            matInput
            (keyup)="applyFilter(getEventValue($event))"
            placeholder="Cautare dupa titlu"
            autocomplete="off"
            [(ngModel)]="filter"
          />
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            *ngIf="searchKey"
            (click)="onSearchClear()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-lg-3 col-md-4 col-sm-12 mt-3"
      *ngFor="let book of obs | async"
    >
      <mat-card class="example-card align-self-center">
        <mat-card-header>
          <div
            mat-card-avatar
            [ngStyle]="{'background': 'url('+ book.prodCoverUrl +') no-repeat center', 'background-size': 'cover'}"
          ></div>
          <mat-card-title
            class="noOverflow"
            [ngClass]="{'noAuthors': !book.autori}"
            >{{book.prodNume}}</mat-card-title
          >
          <mat-card-subtitle *ngIf="book.autori"
            >{{book.autori[0].autNumeFull}}</mat-card-subtitle
          >
        </mat-card-header>
        <img
          mat-card-image
          [src]="book.prodCoverUrl"
          [alt]="book.prodNume"
          class="image-card"
        />
        <mat-card-content>
          <p class="p-content">{{book.prodDescriere}}</p>
        </mat-card-content>
        <mat-card-actions class="card-download">
          <a [href]="book.prodFileUrl" target="_blank"
            ><i class="material-icons aln">file_download</i>
            <i class="aln">Download PDF</i></a
          >
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="container-fluid w-100 mt-3">
    <mat-paginator
      [pageSizeOptions]="[12, 24, 48]"
      aria-label="Select page"
      [pageSize]="12"
    ></mat-paginator>
  </div>
</div>
