<div class="container-fluid">
  <div class="row mb-5">
    <div class="col">
      <button (click)="addStd()" mat-stroked-button color="success">
        Add Student
      </button>
    </div>
  </div>
  <!-- </div>
  <hr />
  <!-- <div class="search-div">
<button mat-raised-button><mat-icon>add</mat-icon>Create</button>
<mat-form-field class="search-form-field" floatLabel="never">
  <input
    matInput
    (keyup)="applyFilter(getEventValue($event))"
    placeholder="Search"
    autocomplete="off"
  />
  <button
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    *ngIf="searchKey"
    (click)="onSearchClear()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</div> -->
  <div class="row">
    <div class="col-6">
      <table mat-table #table [dataSource]="listData" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Elev Id</th>
          <td mat-cell *matCellDef="let elev">{{elev.id}}</td>
        </ng-container>
        <!-- Category Column -->
        <ng-container matColumnDef="nume">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nume Elev</th>
          <td mat-cell *matCellDef="let elev">{{elev.nume}}</td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
          <td mat-cell *matCellDef="let elev">{{elev.email}}</td>
        </ng-container>

        <!-- Parola Column -->
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
          <td mat-cell *matCellDef="let elev">{{elev.password}}</td>
        </ng-container>

        <!-- Actions Buttons -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let elev">
            <button mat-icon-button color="primary" (click)="showGrd(elev)">
              <mat-icon>grading</mat-icon>
            </button>
            <button mat-icon-button (click)="showDetails(elev)">
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-icon-button
              color="warn"
              (click)="deleteStudent(elev.id)"
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{'hide':listData!=null}"
        ></mat-footer-row>
        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"
        ></mat-footer-row>
      </table>
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10]">
      </mat-paginator>
    </div>
    <div class="col-6">
      <app-add-student *ngIf="addUserView"></app-add-student>
      <app-student-grades
        *ngIf="studentGrd"
        [stdInfo]="selectedStudent"
      ></app-student-grades>
      <app-student-details
        *ngIf="isVisible"
        [student]="selectedStudent"
        (studentChange)="update($event)"
      ></app-student-details>
    </div>
  </div>
</div>
