<form>
  <div class="row">
    <div class="col-10">
      <mat-form-field appearance="legacy">
        <mat-label>Nume Prenume</mat-label>
        <input
          [(ngModel)]="teacher.name"
          name="name"
          matInput
          placeholder="Ex. Dinca Roxana"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-10">
        <mat-form-field appearance="legacy">
          <mat-label>Materie</mat-label>
          <input
            [(ngModel)]="teacher.materie"
            name="materie"
            matInput
            placeholder="Ex. Romana"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <mat-form-field appearance="legacy">
          <mat-label>E-mail</mat-label>
          <input
            [(ngModel)]="teacher.email"
            name="email"
            matInput
            placeholder="Ex. dincaroxana@email.com"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <mat-form-field appearance="legacy">
          <mat-label>Parola</mat-label>
          <input
            [(ngModel)]="teacher.password"
            name="password"
            matInput
            placeholder="Ex. parolamea123"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="success" (click)="update()">
    Update teacher {{teacher.id}} !
  </button>
</form>
