<ng-container *ngIf="stdGrades">
  <div>
    <table class="table">
      <thead>
        <tr id="studentName">
          <th colspan="3">{{stdInfo.nume}}</th>
        </tr>
        <tr>
          <th class="tableHeader" scope="col">Materie</th>
          <th class="tableHeader" scope="col">Nota</th>
          <th class="tableHeader" scope="col">Profesor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" *ngIf="!isVisible">There are no GRADES to show!</td>
        </tr>
        <tr *ngFor="let nota of stdGrades">
          <ng-container *ngIf="isVisible">
            <th class="tableLeft" scope="row">{{nota.numeMaterie}}</th>
            <td>{{nota.nota}}</td>
            <td>{{nota.name}}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
